<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>텍스트 관련 속성</title>
  <link rel="stylesheet" href="../css/font.css" />
</head>
<body>
  <h1>텍스트 관련 속성 익히기</h1>
  <h2>Setting Font Face</h2>
  <p>이상 그들에게 따뜻한 이성은 위하여 모래뿐일 운다. 목숨이 불어 같이, 긴지라 평화스러운 청춘의 보라. 이상의 무엇을 가슴에 목숨을 찾아다녀도, 살았으며, 사랑의 불어 위하여서. 무엇을 이것이야말로 때까지 사람은 얼마나 말이다. 타오르고 대고, 얼마나 피는 찬미를 인간의 아름답고 부패뿐이다. 곧 그들은 많이 쓸쓸하랴? 굳세게 우리 인간의 생명을 그들의 같은 위하여, 얼음과 것이다. 이상은 우리의 인생에 만천하의 귀는 있으랴? 따뜻한 오아이스도 황금시대를 이상이 천하를 인간이 인간의 굳세게 그리하였는가?</p>
</body>
</html>