<!-- HTML5 -->
<!DOCTYPE html> 
<!-- XHTML 1.0 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
-->
<!-- HTML 4.01 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
--> 

<!-- HTML의 장점이자 단점 : 문법 느슨... 
 ex_1. <H1> .... </h1> 가능 
 ex_2. <img> 시작 태그 쓸 때 </img> 없어도 됨. 빈 요소 가능
 ex_3. <a href=" " 겹따옴표로 묶어도 되고 안 묶어도 됨.
 
 => 문법이 더 엄격한 xml 문법 따라서 XHTML이 만들어졌는데...
 => HTML5는 브라우저 벤더사가 주도한 거라 문법이 더 느슨함...-->

 <html lang="ko-KR">
   <head>
     <!-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">   empty element(빈 요소)-->
     <meta charset=UTF-8" />  <!-- 인코딩 타입 : 다국어 지원 -->
     <title>문서 제목</title>
   </head>

   <body>
     <h1>제목 1</h1>
     <h2>제목 2</h2>
     <h3>제목 3</h3>
     <h4>제목 4</h4>
     <h5>제목 5</h5>
     <h6>제목 6</h6>

     <p>그들은 그들의 소금이라 피다 <br />
       기쁘며, 얼음에 온갖 동력은 <b>사막이다</b>. <br />
       피에 크고 과실이 뼈 있는 싶이 무엇이 <strong>열락의</strong> 얼마나 것이다. <br />
       듣기만 생의 얼음이 위하여서.</p> <br />
     <p>설산에서 목숨이 위하여서, 트고, 있으랴? 그것은 장식하는 전인 <i>봄날의</i> 때문이다. 이 그와 <em>노래하며</em> 사람은 방황하여도, 같이, 것이다. 듣기만 보는 예가 인생에 황금시대다.</p>
     <p>X<sup>2</sup> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H<sub>2</sub>0</p>

     <address>서울시 강남구 역삼동 718-5번지 멀티캠퍼스 </address>
   </body>

 </html>