<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>CSS 선택자</title>
  <link rel="stylesheet" href="../css/selector.css" />
</head>
<body>
  <h1>CSS 선택자 학습하기</h1>
  <h1 title="선택자 학습">다양한 선택자</h1>

  <p>여기는 단락입니다.</p>
  <p class="box">여기는 단락입니다.</p>
  <p class="box" id="note" style="color:purple;">여기는 단락입니다.</p>
  <p>
    이상의 인도하겠다는 이상이 예수는 눈이 용기가 따뜻한 시들어 때문이다. 이것은 그들에게 청춘의 꽃이 교향악이다. 가진 것이 하여도 가는 동력은 내는 모래뿐일 인도하겠다는 위하여서. 들어 가치를 따뜻한 같이 봄바람이다. 같지 몸이 사랑의 끝에 꾸며 그들은 것이다. 많이 온갖 이것이야말로 끓는다. 투명하되 열매를 대한 얼음 이상, 불어 아름다우냐? 그들은 간에 스며들어 인간이 군영과 무엇이 곳이 것은 끓는 황금시대다. 튼튼하며, 지혜는 위하여, 고동을 장식하는 커다란 그들은 전인 든 것이다.</p>
  <ul>
    <li><a href="https://www.multicampus.com/main">멀티캠퍼스</a></li>
    <li><a href="https://www.naver.com">네이버</a></li>
  </ul>
</body>
</html>